/*products styles*/

.card-products-container {
    margin: 5vh auto;  /*margen vertical del 5% de la altura de la pantalla y horizontal automático*/
}

.card-products {   /* aplica estilo al contenedor ppal de las tarjetas*/
    text-align: center; /*centra el texto de cada una*/
    display: flex;  /*flexbox*/
    flex-direction: row;  /*las coloca en fila*/
    justify-content: space-around; /*las reparte dejando espacios iguales entre ellas*/
    flex-wrap: wrap; /*si no entran todas en una fila, pasan a la sgte*/
}

.card-products img { /*aplica todas las imágenes dentro de card-products*/
    margin-top: 40px; /*deja un espacio de 40 px arriba*/
    width: 250px; /*fuerza todas las imágenes a 250x250*/
    height: 250px;
}

.card-products button { /*aplica todos los botones dentro de card-products*/
    border: none; /*quita borde y contorno*/
    outline: 0; /*quita borde y contorno*/
    padding: 10px; /*agrega espacio interno*/
    color: thistle; /*color del texto*/
    background-color: #1bcb7f; /*color fondp*/
    text-align: center; /*centra el texto dentro del botón*/
    cursor: pointer; /*el puntero cambia a mano al pasar encima*/
    width: 100%; /*el botón ocupa todo el ancho de su contenedor*/
    font-size: 15px; /*tamañp de la letra*/
}
 
.card-products button:hover {  /*aplica cuando el puntero pasa sobre el botón*/
    opacity: 0.7;  /*cambia la opacidad al 70%*/
}

.card-btn {
    position: fixed;
    top: 90vh;
    right: 40px;
    background-color: rgb(25,25,25);
    padding: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
}

.card-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.cart-counter {
    display: none;
    position: fixed;
    top: 89vh;
    right: 27px;
    color: #fff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;
}



/*modal*/
.modal-overlay {
    display: none;
    background-color: rgba(0,0, 0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.modal-container {
    display: none;
    background-color: azure;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow: auto;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-close {
    float: right;
    cursor: pointer;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
/*-----------------*/

.cart-btn {
    position: fixed; /*para que quede flotante, ej. abajo a la derecha*/
    bottom: 20px;
    right: 20px;
    background-color: #ff6f61; /*color de fondo*/
    color: white; /*color del ícono*/
    font-size: 24px;/*tamaño del carrito*/
    width: 60px;
    height: 60px;
    border-radius: 50%; /*que sea círculo*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /*cambia el cursor a manito*/
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2); /* sombrita para que resalte */
    transition: transform 0.2s ease, background-color 0.3s ease;
}

/*efecto al pasar mouse*/
.cart-btn:hover {
    background-color: #e65b50;
    transform: scale(1.1); /*se agranda un poco*/
}
/*-------------*/

/*modal body*/
.modal-body {
    margin-bottom: 20px;
    text-align: center;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product-img {
    height: 80px;
    margin-right: 20px;
    width: 80px;
}

.product-info {
    flex: 1;
    text-align: left;
}

.product-info h4 {
    margin-top: 35px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 4em;
}

.quantity-btn-decrese,
.quantity-btn-increse {
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    width: 28px;
    font-weight: bold;
}

.quantity-input {
    color: #333333;
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}

@media only screen and (max-with: 500px){
    .product-img {
        display: none;
    }
    .modal-body {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.delete-product {
    margin-top: 20px;
    margin-left: 2em;
    cursor: pointer;
}

.modal-footer {
    text-align: center;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}


